<h5>Form Template</h5>

<BSForm Model="model" IsRow="true" Gutters="Gutters.Medium" OnSubmit="@(() => HandleSubmit(model))">
    <DataAnnotationsValidator />
    <BSCol Position="Position.Relative" ColumnMedium="4">
        <BSLabel>First name</BSLabel>
        <BSInput InputType="InputType.Text" @bind-Value="model.FirstName" ValidateOnInput="true" />
        <BSFeedback For="@(() => model.FirstName)" ValidMessage="Looks good." />
    </BSCol>
    <BSCol Position="Position.Relative" ColumnMedium="4">
        <BSLabel>Last name</BSLabel>
        <BSInput InputType="InputType.Text" @bind-Value="model.LastName" />
        <BSFeedback For="@(() => model.LastName)" ValidMessage="Looks good." />
    </BSCol>
    <BSCol Position="Position.Relative" ColumnMedium="4">
        <BSLabel>Other Names</BSLabel>
        <BSInput InputType="InputType.Text" @bind-Value="model.OtherNames" />
        <BSFeedback For="@(() => model.OtherNames)" ValidMessage="Looks good." />
    </BSCol>
    <BSCol Position="Position.Relative" ColumnMedium="8">
        <BSLabel>Email Address</BSLabel>
        <BSInput InputType="InputType.Text" @bind-Value="model.Email" />
        <BSFeedback For="@(() => model.Email)" ValidMessage="Looks good." />
    </BSCol>
    <BSCol Position="Position.Relative" ColumnMedium="4">
        <BSLabel>Contact Number</BSLabel>
        <RadzenMask Mask="*** *** ****" CharacterPattern="[0-9]" Placeholder="000 000 0000" Name="Phone" Style="width: 100%;height:30px;" />
        <ValidationMessage For="@(() => model.PhoneNumber)" style="font-size:10px;" />
    </BSCol>
    <BSCol Position="Position.Relative" ColumnMedium="4">
        <BSLabel>Username</BSLabel>
        <BSInput InputType="InputType.Text" @bind-Value="model.UserName" />
        <BSFeedback For="@(() => model.UserName)" ValidMessage="Looks good." />
    </BSCol>
    <BSCol Position="Position.Relative" ColumnMedium="4">
        <BSLabel>Password</BSLabel>
        <BSInput InputType="InputType.Text" @bind-Value="model.Password" />
        <BSFeedback For="@(() => model.Password)" ValidMessage="Looks good." />
    </BSCol>
    <BSCol Position="Position.Relative" ColumnMedium="4">
        <BSLabel>Confirm Password</BSLabel>
        <BSInput InputType="InputType.Text" @bind-Value="model.ConfirmPassword" />
        <BSFeedback For="@(() => model.ConfirmPassword)" ValidMessage="Looks good." />
    </BSCol>
    <BSCol Column="12">
        <BSButton Color="BSColor.Primary" Size="Size.Small" IsSubmit="true">Submit</BSButton>
        <BSButton Color="BSColor.Primary" Size="Size.Small" IsReset="true">Reset</BSButton>
    </BSCol>
</BSForm>


@code {

    public CreateUserRequest model = new CreateUserRequest();

    public void HandleSubmit(CreateUserRequest request)
    {

    }
}
