@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<footer class="text-center text-secondary fixed-bottom pt-2 mt-3 d-flex justify-content-center shared-footer" style="background-color: #f1f1f1;">
    <div class="container p-0">
        <div class="row">
            <div class="col-xs-12 col-md-4 my-1 ">
                <section>
                    © @Copy.Year Copyright:
                    <a href="https://www.tuomokepamoja.africa/" style="color:dodgerblue;">Tuomoke Pamoja</a>
                </section>
                
            </div>

            <div class="col-xs-12 col-md-4 my-1 ">
                <section >
                     <!-- WhatsApp -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark" @onclick="@(() => WhatsAppIconClicked())">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>

                    <!-- Facebook -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark" @onclick="@(() => FacebookIconClicked())">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <!-- Twitter -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark" @onclick="@(() => TwitterIconClicked())">
                        <i class="fa-brands fa-twitter"></i>
                    </a>

                    <!-- Instagram -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark" @onclick="@(() => InstaGramIconClicked())">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <!-- Linkedin -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark" @onclick="@(() => LinkedInIconClicked())">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>

                    <!-- Email -->
                    <a class="btn btn-link btn-floating btn-sm text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark" @onclick="@(() => EmailIconClicked())">
                        <i class="fa-solid fa-envelope"></i>
                    </a>

                </section>

            </div>

            <div class="col-xs-12 col-md-4 my-1 ">
                <section>
                    <p class="text-secondary"> Designed by <a href="#" style="color:goldenrod;">Allan O. Alex</a></p>
                </section>
                
            </div>
        </div>
    </div>
    
</footer>

@code {

    [Parameter]
    public DateTime Copy { get; set; } = DateTime.Today;


    private async void WhatsAppIconClicked()
    {
        await JS.InvokeVoidAsync("open", "https://web.whatsapp.com/", "_blank");
    }

    private async void FacebookIconClicked()
    {
        await JS.InvokeVoidAsync("open", "https://www.facebook.com/", "_blank");
    }

    private async void TwitterIconClicked()
    {
        await JS.InvokeVoidAsync("open", "https://twitter.com/", "_blank");
    }

    private async void InstaGramIconClicked()
    {
        await JS.InvokeVoidAsync("open", "https://www.instagram.com/", "_blank");
    }

    private async void LinkedInIconClicked()
    {
        await JS.InvokeVoidAsync("open", "https://www.linkedin.com/", "_blank");
    }

    private void EmailIconClicked()
    {
        NavigationManager.NavigateTo("mailto:allan.alex0803@gmail.com");
    }
}
